fastapi==0.111.0
uvicorn==0.29.0

pandas==2.2.3
numpy==1.26.4

prophet==1.1.5
cmdstanpy==1.2.5
holidays==0.46
stanio==0.5.1

scikit-learn==1.4.2
scipy==1.15.3

python-multipart==0.0.9
pydantic==2.7.1

python-dateutil==2.9.0.post0
pytz==2025.2